.filtros{
    button{
        border: none;
        background-color:  $mainColor;
        border-radius: 8px;
        padding: 4px 8px;
        svg{

        
        width: 30px;
        fill: $white;
        }

   }
   input{
    border-radius: 8px;
   }
}